@use 'var' as v;
@use 'mixins' as m;

.boton-azul{
    @include m.boton(v.$darkBlue, inline);
}

.boton-azul-suave{
    @include m.boton(darken(v.$blueLight, 10), inline);
    color: v.$black;
}

.boton-erase{
    background-color: transparent;
    border: none;
    width: .5rem;
    height: 2.1rem;
    position: relative;
    top: .2rem;
    
    
    &:hover{
        cursor: pointer;
    }
    
    .img-boton{
        position: relative;
        bottom: .3rem;
        right: 1rem;
        // top: .5rem;
    }
}
