// Tipografias
$firtsFont: 'Montserrat', sans-serif;
$secondFont: 'Open Sans', sans-serif;

// Colors
$darkBlue: #004269;
$blue: #3A7CA5;
$ablueGrey: #2F6690;
$blueLight: #81C3D7;
$white: #FDFFFC;
$black: #000;
$grey: #e1e1e1;

// SIZE SCREEN
$phone: 480px;
$tablet: 768px;
$laptop: 992px;
$monitor: 1280px;
