// Tipografias
$firtsFont: 'Montserrat', sans-serif;
$secondFont: 'Open Sans', sans-serif;

// Colors
$darkBlue: #004269;
$blue: #3A7CA5;
$blueGrey: #2F6690;
$blueLight: #81C3D7;
$white: #FDFFFC;
$black: #000;
$grey: #e1e1e1;
$orange: #FA7500;
$green: #99D17B;
$red: #A31621;
$bordeNegro: 1px solid #000;

// SIZE SCREEN
$phone: 480px;
$tablet: 768px;
$laptop: 992px;
$monitor: 1280px;
