@use '../base/var' as v;
@use '../base/mixins' as m;

.adminPage{
    height: 20rem;
}

.database-asegurados{
    margin: 3rem auto;
}

.contenedor-botones{
    display: flex;
    justify-content: space-between;
}

.asegurados{
    margin-top: 3rem;
    width: 100%;
    border-spacing: 0;
    border: v.$bordeNegro;
    
    thead{
        border: v.$bordeNegro;
        background-color: v.$blue;
        th{
            border: v.$bordeNegro;
            padding: 1rem;
            color: v.$white;

            &:last-of-type{
                svg{
                    width: 2.5rem;
                }
            }
        }
    }
    
    td{
        border: v.$bordeNegro;
        text-align: center;

        &:last-of-type{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            svg{
                width: 2rem;
            }
        }
    }

}